
.component {

    overflow: hidden;

    align-items: center;
    display: flex;
    justify-content: center;

    background: white;
    box-sizing: border-box;

    &.horizontal {

        border-right: 1px dashed red;
    }

    &.vertical {

        border-bottom: 1px dashed red;
    }
}
