
.root {

    display: flex;
    overflow: hidden;

    position: relative;

    background: #ffeeee;
    border: 1px solid red;
}

.horizontal {

    flex-direction: row;
}

.vertical {

    flex-direction: column;
}

:global(.resizing) {

    user-select: none;
}