
.layout-group {

    display: flex;

    position: relative;

    background: #ffeeee;
    border: 1px solid red;

    &.horizontal {

        overflow-x: auto;
        overflow-y: hidden;
    }

    &.vertical {

        flex-direction: column;

        overflow-x: hidden;
        overflow-y: auto;
    }
}
