
.resizer {

    background: #666;
    border-bottom: 3px solid #ccc;
    border-top: 3px solid #ccc;
    height: 1px;
    margin-top: -4px;
    margin-bottom: -3px;

    cursor: ns-resize; // ew-resize
    opacity: 0;
    z-index: 1;

    transition: opacity 400ms;

    &:hover {

        opacity: 0.5;
    }
}
